@font-face {
    font-family: "Constantia";
    src: url("../fonts/constantia.ttf");
}
@font-face {
    font-family: "FreigTexProSem";
    src: url("../fonts/FreigTexProSem.otf");
}

body {
    font-style: normal;
    font-family: "FreigTexProSem", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
}